
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="">Welcome To Our Online Shop!</h2>
<hr class="list-header" />
<div class="alert alert-success" role="alert">
    <span>This application allows users to see the available Products and create new ones.</span>
    <br />
    <span>You can find all the operations you can perform in our platform just by selecting one in the tab bar at the top.</span>
</div>

